@charset "utf-8";
   
  h2 {
    color: #8484ff;
  }

  
  h4 {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #ffb6c1;
  font-family: "Zen Maru Gothic", sans-serif; 
  letter-spacing: 1px;
  font-weight: 500;
}